@angular:registry=https://registry.npmjs.org/
@angularclass:registry=https://registry.npmjs.org/
@ngrx:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
registry=http://sodio.stratio.com/repository/publicnpm/
#registry=https://registry.npmjs.org/
progress=false
